h1 {
    text-align: center;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    padding-top: 15px;
}